p{
text-indent:2em;
}
body{
padding-top: 0px; 
margin-top: 0px;
}
.top{
background:url(/img/banner.jpg) no-repeat;
height:180px;
}
.nav{
position:fixed;
width:20em;
left:850px;
}
.tag,.category{
margin:2px;
width:600px;
border:1px solid red;
}
.tag>h3,.category>h3{
margin-top:5px;
margin-bottom:0;
text-indent:1em;
}

.tag li,.category li{
margin-top:0;
margin-bottom:0;
}
