<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/static/css/github.css"></link>
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css"></link>
	<title>{{ page.title }}</title>
</head>
<body>
<div class="top">
<p>潘海强的blog</p>
欢迎大家来到我的blog
</div>

<div class="nav">
<ul>
	<li><a href="/">最近发表</a></li>
	<li><a href="/tags/">标签</a></li>
	<li><a href="/category/">分类</a></li>
	<li><a href="/all/">所有文章</a></li>
	<li><a href="http://weibo.com/qiangtoutou">我的微博</a></li>
	<li><a href="{% post_url 2013-04-10-about %}">关于</a></li>
</ul>
</div>
	{{ content }}
</body>
</html>